<div class="content">
    <div class="container">
        <div class="content-top">
            <h2 class="new">НОВИНКИ</h2>
            <div class="pink">
                <!-- requried-jsfiles-for owl -->
                <link href="css/owl.carousel.css" rel="stylesheet" />
                <script src="js/owl.carousel.js"></script>
                <script>
                    $(document).ready(function() {
                        $("#owl-demo").owlCarousel({
                            items : 4,
                            lazyLoad : true,
                            autoPlay : true,
                            pagination : true,
                        });
                    });
                </script>
                <!-- //requried-jsfiles-for owl -->
                <div id="owl-demo" class="owl-carousel text-center">
                    <div th:each="product: ${products}" class="item">
                        <div class=" box-in">
                            <div class=" grid_box">
                                <a th:href="@{/product/} + ${product.id}">
                                    <img th:src="@{/images/} + ${product.picture.fileNameSmall}" class="img-responsive" alt="" />
                                </a>
                            </div>
                            <div class="grid_1 simpleCart_shelfItem">
                                <a href="#" class="cup item_add"><span class=" item_price" ><span th:text="${product.price} + ' р.'"></span><i> </i></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"> </div>
                </div>

            </div>

        </div>


        <div class="content-bottom" style="margin-bottom: 42px">
            <div class="col-md-8 latter">
                <h6>НОВОСТИ</h6>
                <p>sign up now to our newsletter discount! to get the Welcome discount</p>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 latter-right">
                <form>
                    <div class="join">
                        <input type="text" value="your email here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'your email here';}" />
                        <i> </i>
                    </div>
                    <input type="submit" value="join us" />
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>