<div class="footer">
    <div class="container">
        <div class="col-md-3 footer-left">
            <a href="index.html"><img th:src="@{/images/logo.png}" alt="" /></a>
            <p class="footer-class">© 2015 Hundmug.ru | Template by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
        </div>
        <div class="col-md-2 footer-middle">
            <ul>
                <li><a th:href="@{/categories}">Категории</a></li>
                <li><a th:href="@{/contact}">Контакты</a></li>
            </ul>
        </div>
        <div class="col-md-4 footer-left-in">
            <ul class="term">
                <li><a th:href="@{/category/0}">Кружки</a></li>
                <li><a th:href="@{/category/1}">Шкатулки</a></li>
                <li><a th:href="@{/category/2}">Игрушки из цветов</a></li>
            </ul>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-3 footer-right">
            <h5>КОНТАКТЫ</h5>
            <ul class="term">
                <li><a>Новосибирск</a></li>
                <li><a>+7 953 793 33 44</a></li>
                <li><a>+7 953 793 33 44</a></li>
                <li><a href="mailto:mail@handmug.ru">mail@handmug.ru</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            /*
             var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
             };
             */

            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>