<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Контакты - Handmug</title>
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery.min.js"></script>
	<!-- Custom Theme files -->
	<!--theme-style-->
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!--//theme-style-->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--fonts-->
	<link href='http://fonts.googleapis.com/css?family=Amaranth:400,700' rel='stylesheet' type='text/css' />
	<!--//fonts-->

	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- start menu -->
	<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="js/megamenu.js"></script>
	<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>

	<script src="js/simpleCart.min.js"> </script>
</head>
<body> 
<!--header-->	
<div th:replace="_header" />

<div class="container">
	<div class="contact">
	<h2>КОНТАКТЫ</h2>
	<div class="contact-in">
		<div class=" col-md-3 contact-right">
			<h5>Информация</h5>
			<p>Новосибирск</p>
			<p>Телефон: +7 953 793 33 44</p>
			<p>WhatsApp: +7 953 793 33 44</p>
			<p>Email: <a href="mailto:mail@handmug.ru">mail@handmug.ru</a></p>
			<p>Группы: <a href="#">ВКонтакте</a></p>
		</div>
		<div class=" col-md-9 contact-left">
			<form action="#" th:action="@{/contact}" th:object="${contactForm}" method="post">
				<div>
					<span>Имя</span>
					<input th:field="*{name}" type="text" class="textbox" />
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</div>
				<div>
					<span>E-Mail</span>
					<input th:field="*{email}" type="text" class="textbox" />
					<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				</div>
				<div>
					<span>Сообщение</span>
					<textarea th:field="*{message}" name="userMsg"> </textarea>
					<span th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></span>
				</div>
			   <div>
					<input type="submit" value="Отправить" />
			  </div>
			</form>
		  </div>
			  <div class="clearfix"></div>
		 </div>
</div>

</div>
	<!--footer-->
	<div th:replace="_footer" />

</body>
</html>