<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Контакты - Handmug</title>
	<div th:replace="_head" />
</head>
<body> 
<!--header-->	
<div th:replace="_header" />

<div class="container">
	<div class="contact">
	<h2>КОНТАКТЫ</h2>
	<div class="contact-in">
		<div class=" col-md-3 contact-right">
			<h5>Информация</h5>
			<p>Новосибирск</p>
			<p>Телефон: +7 953 793 33 44</p>
			<p>WhatsApp: +7 953 793 33 44</p>
			<p>Email: <a href="mailto:mail@handmug.ru">mail@handmug.ru</a></p>
			<p>Группы: <a href="#">ВКонтакте</a></p>
		</div>
		<div class=" col-md-9 contact-left">
			<form action="#" th:action="@{/contact}" th:object="${contactForm}" method="post">
				<div>
					<span>Имя</span>
					<input th:field="*{name}" type="text" class="textbox" />
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</div>
				<div>
					<span>E-Mail</span>
					<input th:field="*{email}" type="text" class="textbox" />
					<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				</div>
				<div>
					<span>Сообщение</span>
					<textarea th:field="*{message}" name="userMsg"> </textarea>
					<span th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></span>
				</div>
			   <div>
					<input type="submit" value="Отправить" />
			  </div>
			</form>
		  </div>
			  <div class="clearfix"></div>
		 </div>
</div>

</div>
	<!--footer-->
	<div th:replace="_footer" />

</body>
</html>