<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Category</title>
<div th:replace="_head" />
</head>
<body>

<!--header-->
<div th:replace="_header" />

<div class="container">
	<div class="product">
		<h2 class="new">NEW ARRIVALS</h2>

		<div th:each="prod, j: ${products}" th:if="${j.index} % 4 == 0" class="pink">
			<div th:each="product, i: ${products}"
				 th:if="${i.index} >= ${j.index} and ${i.index} &lt; ${j.index} + 4"
				 class="col-md-3 box-in-at">
				<div class=" grid_box portfolio-wrapper">
					<a th:href="@{/product/} + ${product.id}" href="single.html" >
						<img th:src="@{/images/} + ${product.picture.fileNameSmall}" class="img-responsive" alt="" />
					</a>
				</div>
				<div class="grid_1 simpleCart_shelfItem">
					<a href="#" class="cup item_add">
						<span th:text="${product.price} + ' р.'" class="item_price"><i></i></span>
					</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

	</div>
</div>

<!--footer-->
<div th:replace="_footer" />

</body>
</html>