<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${product.name} + ' - Handmug.ru'"></title>
<div th:replace="_head" />
</head>
<body>
<!--header-->
<div th:replace="_header" />

<div class="content">
	<div class="container">
		<div class="single">
			<div class="col-md-9 top-in-single">
				<div class="col-md-5 single-top">
					<div>
						<img class="etalage_thumb_image img-responsive" th:src="@{/images/} + ${product.picture.fileNameMiddle}" src="" alt="" />
					</div>
				</div>
				<div class="col-md-7 single-top-in">
					<div class="single-para">
						<h4 th:text="${product.name}" />
						<p th:text="${product.description}"></p>

						<label th:text="${product.price} + ' р.'" class="add-to" />

						<a href="#" class="cart item_add">В корзину</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-3 at-single">
				<div class="single-bottom">
					<h4>Продукты категории</h4>
					<div th:each="prod: ${products}" class="product-go">
						<img class="img-responsive fashion" th:src="@{/images/} + ${prod.picture.fileNameMiddle}" />
						<div class="grid-product">
							<a th:text="${prod.name}" th:href="@{/product/} + ${prod.id}" href="#" class="elit"></a>
							<span th:text="${prod.price} + ' р.'" class=" price-in"></span>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

<!--footer-->
<div th:replace="_footer" />

</body>
</html>